In [1]:
import numpy as np
import pandas as pd

In [2]:
S = pd.Series()  
S

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [3]:
#cau 2
A = np.random.rand(7)
print(A)
pd.Series(A)

[0.08205464 0.88258674 0.7553323  0.61786669 0.77415894 0.0670143
 0.92386434]

0    0.082055
1    0.882587
2    0.755332
3    0.617867
4    0.774159
5    0.067014
6    0.923864
dtype: float64

In [6]:
#cau 3
A = []
for i in range(7):
  n = int(input("n = "))
  A.append(n)
A = np.array(A)
pd.Series(A)

n = 2
n = 4
n = 5
n = 3
n = 1
n = 1
n = 1

0    2
1    4
2    5
3    3
4    1
5    1
6    1
dtype: int64

In [7]:
#cau 4
A = np.random.randint(-10, 10, (7, 1))
print(A)
pd.DataFrame(A)

[[ 5]
 [-4]
 [-8]
 [ 8]
 [ 6]
 [-1]
 [ 3]]

   0
0  5
1 -4
2 -8
3  8
4  6
5 -1
6  3

In [10]:
#cau 6
import string
import random

A = np.random.randn(20)
S = pd.Series(A)
print(S)
print(S.values)
labels = []
for i in range(20):
  labels.append(random.choice(string.ascii_letters))
S.index = labels
print(S)
label = random.choice(labels)
print("label:", label, S.loc[label])
print("0:", S.iloc[0])

0     0.190727
1    -1.490528
2     1.055861
3    -0.837984
4     1.549900
5     1.675797
6     0.712934
7    -0.939002
8     0.283399
9    -0.568409
10    0.102412
11    1.029384
12    0.235691
13    0.416520
14   -0.939360
15   -1.299109
16   -0.554233
17   -0.207206
18   -0.737359
19   -1.990479
dtype: float64
[ 0.19072669 -1.49052772  1.05586059 -0.83798441  1.54989989  1.67579717
  0.71293441 -0.9390025   0.2833994  -0.56840941  0.10241227  1.02938361
  0.2356912   0.41651952 -0.93936014 -1.29910909 -0.55423305 -0.20720639
 -0.73735891 -1.99047863]
C    0.190727
L   -1.490528
k    1.055861
k   -0.837984
H    1.549900
i    1.675797
f    0.712934
O   -0.939002
C    0.283399
y   -0.568409
B    0.102412
l    1.029384
v    0.235691
f    0.416520
H   -0.939360
a   -1.299109
J   -0.554233
F   -0.207206
f   -0.737359
d   -1.990479
dtype: float64
label: y -0.5684094072245437
0: 0.19072669218912036